<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
<link rel="stylesheet" href="/css/Style.css">
</head>
<body>
	<div id="top-container">
		<h2>LOGIN</h2>
	</div>
	<div th:if="${param.logout}">You have successfully logged out.</div>

	<div th:if="${param.error}" style="color: red;">The username or
		password was incorrect.</div>

	<div class="middle-container">
		<form th:action="@{/Login}" method="post">
			<table class="form">
				<tr>
					<td>Username :</td>
					<td><input id="input1" type="text" name="username" autofocus
						placeholder="username"></td>
				</tr>

				<tr>
					<td>Password :</td>
					<td><input id="input1" type="text" name="password"
						placeholder="password"></td>
				</tr>
			</table>
			<br> <input id="logout" class="btn3" type="submit" value="LOGIN" />

		</form>
	</div>
	<br><br>
	<a class="btn3" href="/">HOME</a>
</body>
</html>